includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - %rootDir%/../../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
